
<ul class="nav nav-tabs">
  <li><a href="#">Agregar</a></li>
  <li class="active"><a href="#/list">Lista Completa</a></li>
</ul>
<div class="page-header">
    <img src="images/logouru.png" alt="" id='logo'>
    <h3> Aplicación Equivalencia </h3>
  </div>
<!-- INICIO DE TABLA !-->
 <table class="table table-striped" id='table'>
  <tr>
    <td>Cedula</td>
    <td>Codigo</td>
    <td>Descripcion</td>
    <td>Nota</td>  
    <td> Hora Credito </td>
  </tr>
  <tr ng-repeat="course in courses">
  <td><span class="label label-primary" ng-dblclick="delete(option.id)">{{course.studentId}}</span></td>
  <td><span class="label label-info">{{course.code}}</span></td>
  <td><span class="label label-default">{{course.courseName}}</span></td>
  <td><span class="label label-success">{{course.score}}</span></td>
  <td><span class="label label-warning">{{course.hc}}</span>
  </tr>
</table>
<!-- FIN DE TABLA -->