
<ul class="nav nav-tabs">
  <li class="active"><a href="#">Agregar</a></li>
  <li><a href="#/list">Lista Completa</a></li>
</ul>

  <div class="page-header">
    <img src="images/logouru.png" alt="" id='logo'>
    <h3> Aplicación Equivalencia </h3>
  </div>
  <input type="text" class="form-control" placeholder="Cedula" tabindex="1"  id="id" ng-model="id">
<!-- 
Bloque de Selection con una lista, este codigo pertenece a una libreria externa por eso el script es colocado aca. 
-->  
  <script>
        $(document).ready(function() {
          $("#e1").select2({
          placeholder: "Materias"
        });
      });
    </script> 
<select id="e1" style="width:300px" class="populate select2-offscreen" tabindex="2" ng-change="setOption(option)" ng-model="option" id="options">
    <option  ng-repeat="course in courses" value="{{course.name}}&{{course.hc}}&{{course.code}}">{{course.name}}</option>
</select>
<!-- Fin del Bloque -->

<input type="text" class="form-control" placeholder="Nota"  tabindex="3" id="score" ng-model='score'>

<a class="btn btn-primary btn-lg" role="button" ng-click="add(id,score)">Agregar</a></p>
<br>
<!-- ALERTAS -->
<div class="alert alert-danger" id='alert' style="display: none">
  Error!, hay problemas de conexion :(, disculpe intentelo mas tarde.
</div>
<div class="alert alert-warning" id='alertInfo' style="display: none">
  Verifique la informacion
</div>
<div class="alert alert-success" id='alertSuccess' style="display: none">
  Ingresado Satisfactoriamente
</div>
<!-- Fin de Alertas -->

<!-- TABLA -->
<table class="table table-striped" id='table'>
  <tr>
    <td>Cedula</td>
    <td>Codigo</td>
    <td>Descripcion</td>
    <td>Nota</td>  
    <td> Hora Credito </td>
  </tr>
  <tr ng-repeat="option in courseSelected">
  <td><span class="label label-primary" ng-dblclick="delete(option.id)">{{option.studentId}}</span></td>
  <td><span class="label label-info">{{option.code}}</span></td>
  <td><span class="label label-default">{{option.courseName}}</span></td>
  <td><span class="label label-success">{{option.score}}</span></td>
  <td><span class="label label-warning">{{option.hc}}</span>
  <td><span class="glyphicon glyphicon-remove-circle red" ng-click="delete(option.code)"></span></td>
  </tr>
</table>
<!-- Fin De Tabla -->
<button type="button" class="btn btn-primary" ng-click="save()">Guardar</button>


